:root {
  --text-color-primary: #707070;
  --text-color-secondary: #868686;
  --green-primary: #27c383;
  --purple-primary: #7f3992;
  --orange-primary: #f79c31;
}

body {
  background: #f7f7f7;
  font-family: 'Roboto';
  font-size: 16px;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
  color: var(--text-color-primary);
}

.sub_title {
  font-size: 1.0625em;
}

.text {
  font-size: 1.0625em;
  color: var(--text-color-secondary);
}

.text_small {
  font-size: 0.9375em;
}

.text_normal {
  font-size: 1em;
}

.text_bold {
  font-weight: 700;
}

.text_italic {
  font-style: italic;
}

.text_light {
  font-weight: 400;
}

.text_green {
  color: var(--green-primary);
}

.text_purple {
  color: var(--purple-primary);
}

.text_orange {
  color: var(--orange-primary);
}

.button {
  background: none;
  padding: 17px 25px;
  border-radius: 10px;
  font-weight: 550;
  font-size: 1em;
  cursor: pointer;
}

/* ### HEADER ### */
header {
  border-bottom: 2px solid #ebebeb;

}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -4px;
  font-style: italic;
  font-weight: 700;
  font-size: 1.25em;
  color: var(--text-color-primary);
}


.navbar div {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo h1 {
  font-size: 2.75em;
}

.logo hr {
  width: 100%;
  border: none;
  border-radius: 6px 6px 6px 6px;
  border-bottom: yellowgreen 7px solid;
}

.nav-link {
  display: inline-flex;
  margin: 0 40px;
  color: var(--text-color-primary);
}

.nav-link svg {
  margin-left: 10px;
}

/* ### END HEADER ### */

/* ### BET GUIDE ### */

.bet-guide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 75px auto;
  max-width: 1440px;
}

.bet-guide-container {
  max-width: 750px;
}

.game-info {
  margin-top: 35px;
  max-width: 648px;
}

.choose-game {
  width: 113px;
  background: none;
  margin: 20px 25px 20px 0;
  padding: 10px 0;
  font-size: 0.875em;
  font-style: italic;
  font-weight: 700;
  border: 2px;
  border-radius: 100px;
}

.choose-game_lotofacil {
  border: solid var(--purple-primary);
  color: var(--purple-primary);
}

.choose-game_mega-sena {
  border: solid var(--green-primary);
  color: var(--green-primary);
}

.choose-game_quina {
  border: solid var(--orange-primary);
  color: var(--orange-primary);
}

.choose-game_select_lotofacil {
  background: var(--purple-primary);
  color: #FFF;
}

.choose-game_select_mega-sena {
  background: var(--green-primary);
  color: #FFF;
}

.choose-game_select_quina {
  background: var(--orange-primary);
  color: #FFF;
}

/* ### END BET GUIDE ### */

/* ### GAME NUMBER ### */

.choose-number {
  display: flex;
  flex-wrap: wrap;
}

.game-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #adc0c4;
  margin: 20px 12px 20px 0;
  width: 65px;
  height: 65px;
  border-radius: 100px;
  font-size: 1.25em;
  font-weight: 700;
  color: #fff;
}

.game-number_selected {
  background: var(--green-primary);
}

/* ### END GAME NUMBER ### */

/* ### GAME ACTIONS ### */

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 0;
}

.button_action {
  margin-right: 25px;
  border: 1px solid #27c383;
  color: #27c383;
}

.button_action svg {
  width: 25px;
  margin-right: 28px;
}

.button_action_add {
  display: flex;
  align-items: center;
  background: #27c383;
  color: #fff;
}

/* ### END GAME ACTIONS ### */

/* ### CART ITEMS ### */

.cart {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  width: 317px;
}

.cart-container {
  padding: 32px 17px;
}

.cart-item {
  display: flex;
  margin: 35px 0;
}

.cart-button-delete {
  background: none;
  padding: 0;
}

.cart-button-delete svg {
  background: none;
  height: 25px;
  color: #888888;
}

.cart-item-info {
  margin-left: 14px;
  padding-left: 12px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cart-item-info_lotofacil {
  border-left: 4px var(--purple-primary) solid;
}

.cart-item-info_mega-sena {
  border-left: 4px var(--green-primary) solid;
}

.cart-item-info p {
  margin: 6px 0;
  font-size: 0.9375em;
}

.cart-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2e2e2;
  height: 96px;
}

.button_save {
  display: flex;
  align-items: center;
  font-size: 2.1875em;
}

.button_save svg {
  margin-left: 10px;
  font-size: 25px;
}

/* ### END CART ITEMS ### */

/* ### FOOTER ### */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  border-top: 2px solid #ebebeb;
  color: var(--text-color-primary);
}

footer p {
  padding: 28px;
}

/* ### END FOOTER ### */
